echo # Jekyll files > .gitignore
echo _site/ >> .gitignore
echo .sass-cache/ >> .gitignore
echo .jekyll-cache/ >> .gitignore
echo .jekyll-metadata >> .gitignore
echo vendor/ >> .gitignore
echo Gemfile >> .gitignore
echo Gemfile.lock >> .gitignore
echo *.gem >> .gitignore
echo *.swp >> .gitignore
echo .bundle/ >> .gitignore
echo # Exclude everything >> .gitignore
echo * >> .gitignore
echo # But include these files >> .gitignore
echo !README.md >> .gitignore
echo !_config.yml >> .gitignore
echo !.gitignore >> .gitignore